# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Mental-salin.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\Project_GIT\Mental-salin\.idea\.idea.Mental-salin\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
